<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>File Transfer Portal</title>
        <link
            rel="icon"
            href="{{ url_for('static', filename='data-transfer.png') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='styles.css') }}"
        />
    </head>
    <body>
        <div class="container">
            <h1>
                <img
                    src="{{ url_for('static', filename='data-transfer.png') }}"
                    class="small-image"
                />
                File Transfer Portal
            </h1>
            <div class="main-content">
                <div class="upload-section">
                    <h2>Upload File</h2>
                    <form
                        action="/upload"
                        method="post"
                        enctype="multipart/form-data"
                    >
                        <input type="file" name="file" required />
                        <button type="submit">Upload</button>
                    </form>
                </div>
                <div class="download-section">
                    <h2>Download Files</h2>
                    <ul>
                        {% for file in files %}
                        <li>
                            <div class="btns">
                                {{ file }}
                                <a href="/download/{{ file }}">
                                    <button>Download</button>
                                </a>
                                <a href="/delete/{{ file }}">
                                    <button>Delete</button>
                                </a>
                            </div>
                        </li>
                        {% endfor %} {% if files | length == 0 %}
                        <p>Oops! No files available.</p>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
